<!DOCTYPE html>
<html lang="en">
<head><title>account created</title></head>
<body>
    <h2>Account Created Successfully!</h2>
    Email: <%= user.email %>
    <br>
    <a href="/login">Go to Login Page</a>
</body>
</html>